<ion-view title="{{post.title}}">
    <ion-nav-buttons side="left">
        <button data-nav-direction="back" data-ng-click="myGoBack()" class="button button-icon icon ion-chevron-left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-share"></button>
    </ion-nav-buttons>

    <ion-content class="gem-ion-content single-post">
        <div class="gem-post-media">
            <img src="" data-ng-src="{{post.image}}" alt="" class="fluid-image">

            <h3 class="post-title">
                {{post.title}}
                <br/>
                <span style="cursor:pointer;" class="gem-tiny-text" data-nav-direction="forward" data-ui-sref="app.profile({id: post.user.id})">Par&nbsp;{{post.user.username}}&nbsp;{{post.user.name}}</span>
            </h3>

            <div class="bottombar-and-shadow"></div>
        </div>

        <div class="gem-post-content">
            <p data-ng-bind-html="post.content"></p>
        </div>
    </ion-content>
</ion-view>

