<ion-view view-title="<img src='img/logo.png' alt='logo' style='height:30px;'>" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button data-menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button data-ui-sref="app.newfeed" data-ng-direction="forward" class="button button-icon icon ion-plus-circled"></button>
    </ion-nav-buttons>

    <ion-content class="has-header gem-ion-content feed">
        <div data-ng-repeat="post in posts">
            <div data-ng-if="post.media" class="news-media" style="cursor:pointer;" data-nav-direction="forward" data-ui-sref="app.feed({id: post.id})">
                <img src="" data-ng-src="{{post.media}}" alt="" class="fluid-image">
            </div>
            <div class="news-item">
                <div class="news-thumb">
                    <img src="" data-ng-src="{{post.utilisateur[0].img_profil}}" alt="" class="img" >
                </div>
                <div class="news-content">
                    <h4 style="cursor:pointer;" data-nav-direction="forward"
                        data-ui-sref="app.profile({id: post.utilisateur[0].id})">{{post.utilisateur[0].prenom}}&nbsp;{{post.utilisateur[0].nom}}</h4>
                    <div class="gem-tiny-text news-item-stats">
                            <h5>{{post.description}}</h5>
                        <i class="icon ion-clock"></i> Posté&nbsp;le&nbsp;{{post.heure_publication | date:"dd-MM-yyyy 'à' HH:mm"}}
                        <span class="news-comment-summary">
                            <i class="icon ion-heart"></i>
                            {{post.nb_like}}
                        </span>
                    </div>
                </div>
                <div class="news-more-action">
                    <!-- QUAND J'AIME -->
                    <i data-ng-click="dislike(post)" class="icon ion-ios-heart" style="color: red;" data-ng-if="iLike(post.id)"></i>

                    <!-- QUAND J'AIME PLUS -->
                    <i data-ng-click="like(post)" class="icon ion-ios-heart-outline" data-ng-if="!iLike(post.id)"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
