<ion-view title="<img src='img/logo.png' alt='logo' style='height:30px;'>">
    <ion-nav-buttons side="left">
        <button data-nav-direction="back" data-ng-click="myGoBack()" class="button button-icon icon ion-chevron-left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button data-ng-click="publierTweet(user[0].id, post)" class="button button-block button-royal button-action">
            Publier
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header gem-ion-content">
        <div class="gem-edit-section">
            <div class="gem-poster">
                <div class="padding">
                    <h4>
                        <img src="" data-ng-src="{{user[0].img_profil}}" alt="" class="gem-circle profile-image">
                        <b>{{user[0].prenom}}&nbsp;{{user[0].nom}}</b>
                    </h4>
                    <div class="padding">
                        <span>
                            Ajouter un média&nbsp;: <input type="file" name="postMedia" id="postMedia" onchange="angular.element(this).scope().previewFile()">
                        </span>
                        <img data-ng-if="post.media" src="" data-ng-src="{{post.media}}" alt="" width="150">
                        <br />
                        <textarea data-ng-model="post.description" placeholder="Votre texte..."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
