<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-light nav-title-slide-ios7"></ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="gem-sidebar dark">
            <div class="row gem-sidebar-profile-box">
                <div class="col col-25">
                    <img src="" data-ui-sref="app.profile({id: post.user.id})" data-ng-src="{{user.avatar}}" class="gem-profile-image" alt="">
                </div>

                <div class="col col-50">
                    <h4 class="title">
                        {{user.username}}
                        <br/>
                        {{user.name}}
                    </h4>
                </div>

                <!--<div class="col col-25 gem-text-center">-->
                    <!--<i class="gem-profile-settings-icon icon ion-gear-b"></i>-->
                <!--</div>-->
            </div>
            <ion-list>
                <!--<ion-item class="item-ng-click" nav-clear menu-close ng-click="login()">Login</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/feed">Feed</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/start">Starter View</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/viewpost">View Post (2)</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/viewposttwo">View Post</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/fgrid">Friend (Grid)</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/flist">Friend (List)</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/newpost">New Post</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/email">Send Mail</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/profile">Profile</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/profiletwo">Profile 2</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/profilethree">Profile 3</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/editprofile">Edit Profile</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/timeline">Timeline</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/invite">Invite</ion-item>-->
                <!--<ion-item nav-clear menu-close href="#/app/news">News</ion-item>-->
            </ion-list>

            <button data-nav-clear data-menu-close class="button button-full button-assertive" data-ui-sref="app.start">Se déconnecter</button>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
