<ion-view title="<img src='img/logo.png' alt='logo' style='height:30px;'>">
    <ion-nav-buttons side="left">
        <button data-nav-direction="back" data-ng-click="myGoBack()" class="button button-icon icon ion-chevron-left"></button>
    </ion-nav-buttons>

    <ion-content class="gem-ion-content">
        <div class="gem-profile-media">
            <div class="gem-profile-details profile2">
                <img src="" data-ng-src="{{userPage[0].img_profil}}" alt="" class="gem-circle profile-image">
                <h3 class="gem-white">{{userPage[0].prenom}}&nbsp;{{userPage[0].nom}}</h3>
                <h5 class="gem-white">{{userPage[0].ville}}</h5>

                <!--<div class="row profile-stats">-->
                    <!--<div class="col stat">-->
                        <!--<h6 class="gem-white uppercase">Email</h6>-->
                        <!--<h6 class="gem-white">{{userPage[0].email}}</h6>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <img src="img/tweets/post-img.jpg" alt="" class="fluid-image profile-background-image" data-ng-if="posts.length == 0">
            <img src="" data-ng-src="{{posts[0].media}}" alt="" class="fluid-image profile-background-image" data-ng-if="posts.length > 0">
        </div>

        <div class="profile-feed">
            <div class="row">
                <div class="col">
                    <div class="profile-post" data-ng-repeat="post in posts">
                        <img style="cursor:pointer;" data-nav-direction="forward" data-ui-sref="app.feed({id: post.id})" src="" data-ng-src="{{post.media}}" alt="">
                        <p>{{post.description}}</p>
                        <span class="profile-post-stat">
                            <i class="icon ion-heart"></i> {{post.nb_like}}
                        </span>
                        <span class="profile-post-stat">
                            <i class="icon ion-ios-clock"></i>
                            Publié&nbsp;le&nbsp;{{post.heure_publication | date:"dd-MM-yyyy 'à' HH:mm"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
