<ion-view title="Kwitter" hide-nav-bar="true">
    <ion-content class="gem-splash_background">
        <div class="gem-form text-center">
            <div class="gem-splash-logo">
                <img src="img/logo.png" width="100" alt="Logo">
                <h3 class="gem-white">Kwitter</h3>
            </div>

            <br/>

            <a data-ng-click="login()" target="_self" class="button button-borderless button-rounded button-balanced">Se connecter</a>
            <a data-ng-click="login()" target="_self" class="button button-outline button-rounded gem-white">S'inscrire</a>
        </div>
    </ion-content>
</ion-view>