<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><i class="icon ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" class="gem-form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <div class="text-center padding">
          <div class="padding">Not yet registered?</div>
          <button class="button button-positive" type="submit">Sign up for free</button>
        </div>
      </div>
    </form>
  </ion-content>
</div>

