<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Profile 3">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>
  
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC PROFILE SECTION
    ====================== -->
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        
        <h3 class="gem-white">Samantha Aryon</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eius laborum hic similique beatae officiis.</p>
        <div class="gem-center">
          <i class="icon ion-chatbubble"></i> 2003 | <i class="icon ion-heart"></i> 2044
        </div>
      </div>
      <!-- Background Image -->
      <img src="img/gemionic/post-img.jpg" alt="" class="fluid-image profile-background-image">
    </div>

    <!-- Profile Stats - ionic '.row' extended with profile-3. .gem-center centralizes -->
    <div class="row profile-stats profile-3 gem-center">
      <div class="col stat">
        <h5 class="gem-white"><i class="ion-heart gem-white"></i> 352</h5>
      </div>
      <div class="col stat">
        <h5 class="gem-white"><i class="ion-chatbubble gem-white"></i> 6233</h5>
      </div>
      <div class="col stat">
        <h5 class="gem-white"><i class="ion-person gem-white"></i> 564</h5>
      </div>
      <div class="col stat">
        <h5 class="gem-white"><i class="ion-android-star gem-white"></i> 564</h5>
      </div>
    </div>

    <!-- Profile Feed -->
    <div class="profile-feed">
        <!-- Title and Button -->
        <div class="title">
          <h4><i class="ion-images"></i> <b>48 Pictures</b> <a href="" class="button button-positive button-small gem-more-button">View More <i class="ion-chevron-right"></i></a></h4>
        </div>
        <!-- Title and Button -->

        <!-- Gemionic Gallery (extends .row with .row-wrap for easy ng-repeat) -->
        <div class="gem-gallery row row-wrap">
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-1.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-2.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-3.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-4.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-5.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-1.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-2.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-3.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-4.jpg" alt=""></div>
        </div>
        <!-- End Gemionic Gallery -->

        <div class="title padding">
          <h4>
            <i class="ion-images"></i> <b>4 Videos</b> 
            <a href="" class="button button-light button-small gem-more-button">
              View More 
              <i class="ion-chevron-right"></i>
            </a>
          </h4>
        </div>

        <!-- Gemionic Gallery (extends .row with .row-wrap for easy ng-repeat) -->
        <div class="gem-gallery row row-wrap">
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-1.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-2.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-3.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-4.jpg" alt=""></div>
        </div>
        <!-- End Gemionic Gallery -->

        <!-- Title box -->
        <div class="title padding">
          <h4>
            <i class="ion-images"></i> <b>18 Friends</b> 
            <a href="" class="button button-light button-small gem-more-button">
              View More 
              <i class="ion-chevron-right"></i>
            </a>
          </h4>
        </div>
        <!-- End Title box -->

        <!-- Friend List (Grid) Refer to templates/social/friend-grid.html -->
        <div class="gem-friend-grid clearfix">
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
          </div>
        </div>
        <!-- End Friend list (Grid) -->

      </div>
  </ion-content>
</ion-view>
