<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Invite Friend">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  
  <!-- standard ionic tab markup -->
  <div class="tabs tabs-top">
    <a class="tab-item active">
      FACEBOOK
    </a>
    <a class="tab-item">
      EMAIL
    </a>
    <a class="tab-item">
      SMS
    </a>
  </div>
  <!-- End standard ionic tab markup -->


  <ion-content class="has-header has-tabs-top gem-ion-content">
  <div class="padding">
    <!-- Standard Ionic list field Markup -->
    <div class="item item-input-inset no-border">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Email">
      </label>
    </div>
    <!-- Standard Ionic list field Markup -->
  </div>

  <!-- Gemionic extended List -->
  <div class="list gem-list">

    <a class="item item-avatar item-button-right" href="#">
      <!-- thumb image -->
      <img src="img/gemionic/profile-image.jpg" class="gem-circle">
      <!-- Name -->
      <h2>Max</h2>
      <!-- some text -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <!-- icon and status -->
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>


    <a class="item item-avatar item-button-right" href="#">
      <!-- thumb image -->
      <img src="img/gemionic/profile-image-2.jpg" class="gem-circle">
      <!-- Name -->
      <h2>Carl</h2>
      <!-- some text -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <!-- icon and status -->
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>


    <a class="item item-avatar item-button-right" href="#">
      <!-- thumb image -->
      <img src="img/gemionic/profile-image-3.jpg" class="gem-circle">
      <!-- Name -->
      <h2>Tridon</h2>
      <!-- some text -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <!-- icon and status -->
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>


    <a class="item item-avatar item-button-right" href="#">
      <!-- thumb image -->
      <img src="img/gemionic/profile-image-4.jpg" class="gem-circle">
      <!-- Name -->
      <h2>Mary</h2>
      <!-- some text -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <!-- icon and status -->
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>


    <a class="item item-avatar item-button-right" href="#">
      <!-- thumb image -->
      <img src="img/gemionic/profile-image-5.jpg" class="gem-circle">
      <!-- Name -->
      <h2>Myles</h2>
      <!-- some text -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <!-- icon and status -->
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>

  </div>
  </ion-content>

</ion-view>
