<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Timeline/Notifications">
  <!-- left button -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- right button -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus-round"></button>
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN SECTION CONTENT - timeline
  ====================== -->
  <ion-content class="has-header gem-ion-content">
      <!-- Subheader - using ionic's subheader. '.gem-position-relative' is to shift the child icon to the right -->
      <div class="bar bar-header bar-positive gem-position-relative">
        <h2 class="title text-left">
          <i class="ion-checkmark-circled pos-absolute-right"></i> 3 New Notifications 
        </h2>
      </div>
      <!-- End subheader -->

      <!-- Gemionic Timeline -->
      <ul class="timeline">
        <!-- timeline item -->
        <li>
          <!-- thumb - absolutely positioned left -->
          <div class="timeline-thumb timeline-thumb gem-success no-image">  <!-- use '.no-image' if you want to use an icon instead -->
            <i class="ion-heart"></i>
          </div>
          <!-- Text details -->
          <div class="timeline-item">
            <h5 class="bold">Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 23
              <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
            </div>
          </div>
          <!-- End Text Details -->
        </li>
        <!-- end timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb - absolutely positioned left -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
          <!-- Text details -->
          <div class="timeline-item">
            <h5 class="bold">Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 23
              <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
            </div>
          </div>
          <!-- End Text Details -->
        </li>
        <!-- End timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb - absolutely positioned left -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
          <!-- Text details -->
          <div class="timeline-item">
            <h5 class="bold">Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 23
              <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
            </div>
          </div>
          <!-- End Text Details -->
        </li>
        <!-- timeline item -->

      </ul>
      <!-- End gemionic timeline -->

      <!-- Title separator -->
      <div class="separator-title">October 25, 2016</div>
      <!-- End Title separator -->


      <!-- Gemionic Timeline -->
      <ul class="timeline">
      <!-- timeline item -->
        <li>
          <!-- thumb image -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
          <!-- end thumb -->

          <!-- timeline-text -->
          <div class="timeline-item">
            <h5 class="bold">Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 23
              <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
            </div>
          </div>
          <!-- end timeline text -->
        </li>
        <!-- end timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb image -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
          <!-- end thumb -->

          <!-- timeline-text -->
          <div class="timeline-item">
            <h5 class="bold">Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 23
              <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
            </div>
          </div>
          <!-- end timeline text -->
        </li>
        <!-- end timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb image -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
          <!-- end thumb -->

          <!-- timeline-text -->
          <div class="timeline-item">
            <h5 class="bold">Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 23
              <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
            </div>
          </div>
          <!-- end timeline text -->
        </li>

      </ul>
  </ion-content>
</ion-view>
