<!-- Title for header bar (refer to www/index.html) the bar is hidden-->
<ion-view title="First Post View" hide-nav-bar="true">
  <!-- ======================
  GEMIONIC CONTENT
  ====================== -->
  <ion-content class="gem-ion-content single-post">
    <!-- Post media (sidebar button, picture, tags, and title) -->
    <div class="gem-post-media">

      <!-- .topbar: sidebar button, post title, and post tags - overlaps the post-image further down -->
      <div class="topbar">
        <div class="row">
          <div class="col col-25">
            <button menu-toggle="left" class="button button-small button-icon icon ion-chevron-left gem-white"></button>
          </div>
          <div class="col col-75 gem-text-right gem-white">
            <span class="gem-label warning">Love</span>
            <span class="gem-label success">Health</span>
          </div>
        </div>
      </div>
      <!-- end topbar -->

      <!-- post image -->
      <img src="img/gemionic/post-img.jpg" alt="" class="fluid-image">
      
      <!-- Post title -->
      <h3 class="post-title">Preparing for the big things: This title is two rows tall  </h3>

      <!-- bottom shadow -->
      <div class="bottombar-and-shadow"></div>

    </div>

    <!-- Post Content -->
    <div class="gem-post-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque animi nostrum, vero cum sit laborum ex enim non molestiae at ipsam ratione labore, repellat, dignissimos accusamus soluta illo deleniti numquam! Reiciendis quos culpa impedit dolore eius sint rem eveniet ex reprehenderit tempora officia dignissimos hic asperiores nostrum debitis corporis sapiente, voluptate a repudiandae. Minima fuga blanditiis dicta libero quod veritatis aperiam fugit quaerat odit illo unde, debitis sit reprehenderit deserunt, ea sequi accusamus beatae ab expedita adipisci consectetur, ex pariatur. Inventore id quae possimus pariatur maiores dolor doloremque illo rerum magnam, quod neque illum libero ducimus. Aspernatur ipsum eligendi nam!</p>
      

      <!-- 2 column image row -->
      <div class="row">
        <div class="col col-50"><img class="fluid-image" src="img/gemionic/red.jpg" alt=""></div>
        <div class="col col-50"><img class="fluid-image" src="img/gemionic/green.jpg" alt=""></div>
      </div>

      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eius fuga quisquam veniam dicta, ab consequuntur, molestias nisi sit. Voluptas ex explicabo ea minima, iste voluptate ullam, adipisci veniam sit, eos eius deleniti tempora non provident nesciunt facilis asperiores eligendi debitis. Possimus labore iusto error magni, incidunt neque nemo consequuntur esse quibusdam eveniet in quam assumenda .</p>

      <!-- Quote Style -->
      <div class="gem-quote">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quas, minima consectetur error rerum molestias veritatis quis. Quia dolorum dicta eos molestias aperiam consequatur accusantium soluta eius, similique totam expedita natus recusandae. Ipsa esse quo.
      <span class="author">Albert Eienstein</span>
      </div>
      <!-- End Quote -->

      <!-- Article Actions -->
      <div class="row article-actions">
        <button class="button button-borderless button-small gem-success uppercase">
          <i class="icon ion-thumbsup"></i> Like
        </button>
        <button class="button button-borderless button-small gem-primary uppercase">
          <i class="icon ion-plus-circled"></i> Add to favourites
        </button>
        <div class="button button-small gem-outline">
          <i class="icon ion-more gem-icon"></i>
        </div>
      </div>
      <!-- End Article Actions -->
      
    </div>
  </ion-content>
</ion-view>

