<!-- Title for header bar (refer to www/index.html) the bar is hidden-->
<ion-view title="Second Post View" hide-nav-bar="true">
  <!-- ======================
  GEMIONIC CONTENT
  ====================== -->
  <ion-content class="gem-ion-content single-post">
    <!-- Post media (sidebar button, picture, tags, and title) -->
    <div class="gem-post-media">
    
      <!-- .topbar: sidebar button, post title, and post tags - overlaps the post-image further down -->
      <div class="topbar">
        <div class="row">
          <div class="col col-25">
            <button menu-toggle="left" class="button button-small button-icon icon ion-navicon-round gem-white"></button>
          </div>
          <div class="col col-50 text-center gem-white">
            <h4>Open Post</h4>
          </div>
          <div class="col col-25 gem-text-right gem-white">
            <button class="button button-small button-icon icon ion-search gem-white"></button>
          </div>
        </div>
      </div>
      <!-- end topbar -->

      <!-- post image -->
      <img src="img/gemionic/post-img.jpg" alt="" class="fluid-image">

      <!-- some stats (likes, hearts) -->
      <h3 class="post-stat text-center"><i class="ion-fireball gem-white"></i> 352 <i class="ion-heart gem-white"></i> 352</h3>
      <!-- emd stats -->

      <!-- bottom shadow - also overlaps the post image -->
      <div class="bottombar-and-shadow"></div>
      <!-- end bottom shadow -->

    </div>

    <!-- Post Content -->
    <div class="gem-post-content">
      <h2>Night City</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque animi nostrum, vero cum sit laborum ex enim non molestiae at ipsam ratione labore, repellat, dignissimos accusamus soluta illo deleniti numquam! Reiciendis quos culpa impedit dolore eius sint rem eveniet ex reprehenderit tempora officia dignissimos hic asperiores nostrum debitis corporis sapiente, voluptate a repudiandae. Minima fuga blanditiis dicta libero quod veritatis aperiam fugit quaerat odit illo unde, debitis sit reprehenderit deserunt, ea sequi accusamus beatae ab expedita adipisci consectetur, ex pariatur. Inventore id quae possimus pariatur maiores dolor doloremque illo rerum magnam, quod neque illum libero ducimus. Aspernatur ipsum eligendi nam!</p>
      
      <p class="post-date"><i class="ion-ios7-clock"></i> 2 days ago</p>

      <!-- Article Buttons-->
      <div class="row article-actions">
        <button class="button button-small gem-success uppercase">
          <i class="icon ion-ios7-heart-outline"></i> Like
        </button>
        <button class="button button-small gem-primary uppercase">
          <i class="icon ion-chatbubble"></i> 2 Comments
        </button>
        <div class="button button-small gem-outline">
          <i class="icon ion-more gem-icon"></i>
        </div>
      </div>
      <!-- End Article Buttons-->
  
      <!-- Comment Section -->
      <div class="article-comments">
        <!-- Comment Item -->
        <div class="comment-item">
          <!-- Commenter thumb -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="comment-profile-pic">

          <!-- Comment Text -->
          <div class="comment-text">
            <h4 class="bold">Roberta Simmons</h4>
            <div class="comment-date"><i class="icon ion-clock"></i> 2 days ago </div>
            <div class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur delectus quod, harum et incidunt illo atque, praesentium repellendus eligendi.
            </div>
          </div>
          <!-- End Comment Text -->
        </div>
          <!-- End Comment item -->

          <!-- Comment Item -->
        <div class="comment-item">
          <!-- Commenter thumb -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="comment-profile-pic">

          <!-- Comment Text -->
          <div class="comment-text">
            <h4 class="bold">Roberta Simmons</h4>
            <div class="comment-date"><i class="icon ion-clock"></i> 2 days ago </div>
            <div class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur delectus quod, harum et incidunt illo atque, praesentium repellendus eligendi.
            </div>
          </div>
          <!-- End Comment Text -->
        </div>
          <!-- End Comment item -->

          <!-- Comment Item -->
        <div class="comment-item">
          <!-- Commenter thumb -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="comment-profile-pic">

          <!-- Comment Text -->
          <div class="comment-text">
            <h4 class="bold">Roberta Simmons</h4>
            <div class="comment-date"><i class="icon ion-clock"></i> 2 days ago </div>
            <div class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur delectus quod, harum et incidunt illo atque, praesentium repellendus eligendi.
            </div>
          </div>
          <!-- End Comment Text -->
        </div>
          <!-- End Comment item -->

          <!-- Comment Item -->
        <div class="comment-item">
          <!-- Commenter thumb -->
          <img src="img/gemionic/profile-image.jpg" alt="" class="comment-profile-pic">

          <!-- Comment Text -->
          <div class="comment-text">
            <h4 class="bold">Roberta Simmons</h4>
            <div class="comment-date"><i class="icon ion-clock"></i> 2 days ago </div>
            <div class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur delectus quod, harum et incidunt illo atque, praesentium repellendus eligendi.
            </div>
          </div>
          <!-- End Comment Text -->
        </div>
          <!-- End Comment item -->


      </div>
  
    </div>
  </ion-content>
</ion-view>

